@use 'mixin' as *;

:host {
    @include page;
}

.p-accounts {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        @include text-title;
    }

    &__subtitle {
        @include text-subtitle;
    }

    &__sessions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__session {
        @include container-border;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__network-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    &__account {
        flex: 1;
    }

    &__logout {
        cursor: pointer;
    }

    &__login {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__login-btn {
        @include button-0;
    }
}
