@use 'mixin' as *;

:host {
    @include page;
}

.p-home {
    &__title {
        @include text-title;
    }
    &__subtitle {
        @include text-subtitle;
    }
    &__link {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: var(--c-foreground-0);
    }
}
