@use 'mixin' as *;

.c-login {
    &__btn {
        @include button-0;
        margin-bottom: 4px;
        margin-top: 4px;

        &--active {
            @include button-1
        }
    }
    &__menu {
        &-body {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 10px;
        }
        &-option {
            @include hyperlink;
        }
        &-network-icon {
            width: 16px;
            height: 16px;
            margin-right: 6px;
            border-radius: 50%;
        }
        &-separator {
            @include hr-separator(0px);
        }
    }
}
